/* Extra small devices (portrait phones, less than 576px) */
:root {
    --primary: #cfdbd5;
    --primary-darker: rgba(0, 0, 0, 0.2);
    --secondary: #333533;
    --tertiary: #F5CB5C;
    --font-primary: rgb(36, 36, 35);
    --font-secondary: rgba(36, 36, 35, 0.8);
}

html {
    background: url(/assets/images/pexels-photo-4039781.jpeg) repeat center fixed;
}

* {
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    color: var(--font-primary);
    line-height: 1.3em;
    padding: 0 5%;
}

#container {
    max-width: 1500px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
}

p {
    text-align: justify;
}

a {
    text-decoration: underline;
    color: var(--font-primary);
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4em;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1em;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1.6em;
    font-weight: 700;
    margin: 5px 0;
}

h4 {
    color: var(--font-secondary);
    font-size: 1.3em;
    font-weight: 700;
    margin-bottom: 4px;
}

strong {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.5em;
}

header {
    width: 100%;
    text-align: left;
}

header p {
    margin-top: 10px;
    color: var(--font-secondary);
}

header h1 span {
    color: var(--tertiary);
    font-weight: 500;
}

.underline {
    border-bottom: 2px solid var(--tertiary);
    padding-bottom: 2px;
}



#mobile_header {
    margin: 70px auto;
    text-align: center;
}

#mobile_header p {
    text-align: center;
}

#mobile_header,
#desktop_header {
    display: block;
    width: auto;
}

#desktop_header {
    display: none;
}

aside {
    background-color: var(--primary);
}

aside h2 {
    background-color: var(--secondary);
    color: var(--primary);
    padding: 0.3em 20px;
}

aside p,
aside address {
    padding: 35px 50px 50px 50px;
}

#photo_de_profil {
    text-align: center;
}

#portrait {
    width: 350px;
    display: inline-block;
    margin: 50px auto 50px auto;
    border: 5px solid var(--primary-darker);
    border-radius: 50%;
}


#contact ul li {
    margin-bottom: 23px;
}

#contact ul li:last-child {
    margin-bottom: 0;
}

#a_propos p::first-letter {
    margin-left: 3rem;
}

#loisir-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 40px 30px;
    flex-wrap: wrap;
}

#loisir-icons i {
    font-size: 2em;
    color: var(--secondary);
    padding: 0.4em;
    border: 3px solid var(--tertiary);
    border-radius: 50%;
}

#main {
    width: 100%;
    padding: 0 40px;
}

#main section {
    margin: 50px 0;
}

#main section:last-child {
    margin: 0;
}

#main h2 i {
    display: inline-block;
    margin-right: 25px;
    color: var(--tertiary);
    vertical-align: middle;
}

#main h2 {
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--tertiary);
    margin-bottom: 30px;
}

#main tr {
    display: inline-block;
    margin-bottom: 30px;
}

#main tr:last-child {
    margin-bottom: 0;
}

#main td {
    display: inline-block;
    width: 100%;
    margin: 0 10px;
}

#main td i {
    display: none;
}

#recommandation_articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#recommandation_articles h3 {
    font-size: 1.4em;
}

#recommandation_articles h4 {
    font-size: 1.2em;
}

#recommandation_articles article {

    margin: 0 90px 35px 0;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width:576px) {

    #mobile_header,
    #mobile_header p {
        text-align: left;
    }

    #main tr {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    #main tr:last-child {
        margin-bottom: 0;
    }

    #main td i {
        display: inline-block;
        color: var(--tertiary);
    }

    #main td:first-child {
        margin: 3px 10px 0 0;
    }

    #main td:nth-child(2) {
        flex: 0 0 30%;
    }

    #main td:last-child {
        flex: 0 0 65%;
    }


}


/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
    #main {
        padding-left: 50px;
        padding-right: 50px;
    }
}


/* Large devices (desktops, 992px and up) */
@media screen and (min-width:1100px) {
    body {
        padding: 5%;
    }

    #mobile_header {
        display: none;
    }

    #desktop_header {
        display: block;
        margin-top: 80px;
    }

    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
    }

    aside {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    aside p,
    aside address {
        padding: 35px 40px 50px 40px;
    }

    #portrait {
        width: 250px;
        margin-top: 50px;
    }

    #loisirs {
        margin-top: auto;
    }

    #main {
        flex: 2;
        margin-left: 2vw;
        margin-right: 1.5vw;
    }

}


/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width:1450px) {
    body {
        padding: 80px 5%;
    }

    #container {
        margin: 0 auto;
    }

    p,
    li {
        font-size: 1.2em;
        line-height: 1.3em;
    }

    h1 {
        font-size: 4em;
        font-weight: 400;
        line-height: 1em;
    }

    h2,
    h3 {
        line-height: 1.8em;
    }


    h2 {
        text-align: center;
        font-size: 2em;
        font-weight: 00;
    }

    h3 {
        font-size: 1.6em;
        font-weight: 700;
        margin: 5px 0;
    }

    h4 {
        color: var(--font-secondary);
        font-size: 1.4em;
        font-weight: 700;
        margin-bottom: 4px;
    }

    strong {
        font-size: 1.4em;
        font-weight: 600;
    }
}