<<<<<<< HEAD
@media screen and (min-width:992px) {
    #mobile_header {
        display: none;
    }
}

@media screen and (max-width:992px) {
    #desktop_header {
        display: none;
    }
}

aside {
    background-color: orange;
=======
@media screen and (min-width:992px) {
    #mobile {
        display: none;
    }
}

@media screen and (max-width:992px) {
    #desktop_header {
        display: none;
    }
>>>>>>> 1a156d9... display des deux headers
}